@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
    <div class="track product_viewer product-grid home-page-product-grid">
        <div class="title">
            <strong>@item.Name</strong>
        </div>
        <div class="inner item-grid">
            <div class="view-port">
                <div id="product_viewer_@item.Id" class="slider-container">
                    @foreach (var product in item.Products)
                    {
                        <div class="item-box">
                            @Html.Partial("_ProductBox", product)
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="#" class="prev disabled"></a>
            <a href="#" class="next disabled"></a>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(function () {

            var product_viewer = $("#product_viewer_@(item.Id)");
            var parent = product_viewer.parents(".track");
            var track = product_viewer.silverTrack({
                easing: "easeInOutQuad"
                , duration: 600
                , itemClass: "item-box"
                , perPage: 4
                , duration: "slow"
            });

            track.install(new SilverTrack.Plugins.Navigator({
                prev: $("a.prev", parent),
                next: $("a.next", parent)
            }));


            track.install(new SilverTrack.Plugins.ResponsiveHubConnector({
                layouts: ["phone", "small-tablet", "tablet", "web"],
                onReady: function (track, options, event) {
                    options.onChange(track, options, event);
                },

                onChange: function (track, options, event) {
                    track.options.mode = "horizontal";
                    track.options.autoheight = false;
                    track.options.perPage = 4;

                    if (event.layout === "small-tablet") {
                        track.options.perPage = 3;

                    } else if (event.layout === "phone") {
                        track.options.mode = "vertical";
                        track.options.autoHeight = true;
                    }

                    track.restart({ keepCurrentPage: true });
                }
            }));
            track.install(new SilverTrack.Plugins.CircularNavigator({
                autoPlay: false
            }));
            track.start();

        });

    </script>
    }
    <script type="text/javascript">
        $(function () {
            $.responsiveHub({
                layouts: {
                    480: "phone",
                    481: "small-tablet",
                    731: "tablet",
                    981: "web"
                },
                defaultLayout: "web"
            });
        });
    </script>
}